**Looping/Perulangan**

Python menyediakan dua statement untuk melakukan proses perulangan yaitu for dan while. Diantara kedua statement ini, secara umum for lebih banyak digunakan daripada while.

For Loop
Perulangan for digunakan untuk melakukan iterasi didalam sequence seperti list, tuple, string, dan array atau objek yang dapat diiterasi lainnya.

In [ ]:
#Program untuk menghitung jumlah semua angka dalam sebuah list
L1 = [2, 4, 5, 7, 9]
jumlah = 0

#iterasi dalam list
for i in L1:
  jumlah = jumlah + i

print(jumlah)

27

The Range()function

In [ ]:
#Program untuk melakukan iterasi didalam list melalui indeks
minuman = ["teh", "boba", "kopi", "susu"]
p = len(minuman)

#iterasi didalam list melalui indeks
for i in range(p):
  print(minuman[i])

teh
boba
kopi
susu

For Loop with else

In [ ]:
#contoh for loop menggunakan else
for i in range(p):
  print(minuman[i])
else:
  print("Elemen sudah habis")

teh
boba
kopi
susu
Elemen sudah habis

**LATIHAN**

In [ ]:
list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
total_tagihan = 0

#iterasi di dalam list
for i in list_tagihan:
  total_tagihan = total_tagihan + i

print("total_tagihan:", total_tagihan)

total_tagihan: 550000

While Loop

While loop pada python digunakan untuk melakukan iterasi pada blok kode selama nilai dari test expression adalah true.

In [ ]:
#Program untuk menjumlahkan semua
#bilangan asli hingga suku ke-n
#jum = 1+2+3+...+n

n = 10
jumlah = 0
i = 1

while i <= n:
  jumlah = jumlah + i
  i = i +1

print(jumlah)

55

While Loop with else

Sama dengan for loop kita juga dapat mengkombinasikan while dengan blok else.
Bagian else akan dieksekusi jika nilai pada test expression pada while loop bernilai False.

In [ ]:
jum = 0
i = 1
while i <= n:
  jum = jum + i
  i = i + 1
else:
  print(jum) #dieksekusi diluar looping

55

LATIHAN

In [4]:
tagihan = [50000, 75000, 125000, 300000, 200000]
total_tagihan = 0
i = 0
while i < len(tagihan):
  total_tagihan = total_tagihan + tagihan[i]
  i = i + 1

print("Total tagihan:", total_tagihan)

Total tagihan: 750000