Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya dan juga tidak bisa ditambahkan atau dihapus elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan daapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan koma.

In [ ]:
#contoh tuple
T1 = (1, "dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [ ]:
T11 = 1, "dua", True, 1+2j
print("ini adalah tuple", T11)

ini adalah tuple (1, 'dua', True, (1+2j))

In [ ]:
#Menampilkan struktur data
type(T1)
type(T11)

tuple

Sifat Sifat Tuple

In [ ]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [ ]:
#Tidak bisa diganti/immutable
T1[2] = "manusia"

TypeError: ignored

In [ ]:
#Dapat diindeks/slicing
print("elemen kedua dari tuple T1 adalah:", T1[1])

elemen kedua dari tuple T1 adalah: dua

In [ ]:
#Dapat diijinkan duplikasi
T2 = (3,2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

In [ ]:
#Tidak dapat menambahka elemen baru
T1 = (1, "dua", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [ ]:
T1.append(10)
T1.append(50)
print(f' tuple\t: {T1}')

AttributeError: ignored

In [ ]:
#Tidak dapat menambah elemen
T1 = (1, "dua", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [ ]:
T1.remove(1)
T1.remove("dua")
print(f' tupple\t: {T1}')

AttributeError: ignored

In [ ]:
#Menggabungkan Tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

Latihan

In [16]:
T1 = (1, "apel", 2, "pisang")
print("ini adalah buah buahan", T1)

ini adalah buah buahan (1, 'apel', 2, 'pisang')

In [17]:
T2 = (2, "mangga", 4, "nanas")
T2

(2, 'mangga', 4, 'nanas')

In [19]:
T3 = T1+T2
T3

(1, 'apel', 2, 'pisang', 2, 'mangga', 4, 'nanas')

STRUKTUR DATA LIST
List adalah kumpulan data terurut(ordered sequence), bisa diubah elemennya (mutable), bisa ditambahkan elemen baru atau menghapus elemen (changeable), dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa,namun tak sama dengan array pada bahassa pemrograman lainnya. Bedanya, elemen list pada python tidak harus memiliki tipe data yang sama. Mendeklarasikan list cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

Setiap data didalamnya dapat diakses dengan indek yang dimulai dari 0.

In [20]:
#Contoh List
L1 = [1,4,2,13]
print(type(L1))

<class 'list'>

In [21]:
L2 = ["a","Pyton", 3]
print(type(L2))

<class 'list'>

In [22]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'Pyton', 3]

In [23]:
#Sifat-sifat list

#Terurut/Ordered
print("Memanggil List L1 dengan indeks urutan:", L1[0:3])

#Bisa Diganti/Mutable
L1[1] = 2
print("List L1 setelah diganti elemenya:", L1)

L1 = [1, "dua", True, 2+3j]

#Dapat Diindeks/Slicing
print("Slicing List L1:", L1[3])

#Dapat Diijinkan Duplikasi
L1 = [1, "dua", True, 2+3j, 2+3j]
print("Duplikasi pada List L1", L1)

#Dapat mengubah data dengan mengganti elemen tertentu
L1 = [1, "dua", True, 2+3j]
L1[2] = 3
print("Data setelah diubah:", L1)

#Dapat menambahkan elemen baru pada data
L1 = [1, "dua", True, 2+3j]
L1.append(20)
print("Data setelah ditambahkan elemennya:", L1)

#Dapat menghapus elemen pada data (remove() = menghapus berdasarkan nama objek)
L1 = [1, "dua", True, 2+3j]
L1.remove(2+3j)
print("Data setelah dihapus elemennya:", L1)

Memanggil List L1 dengan indeks urutan: [1, 4, 2]
List L1 setelah diganti elemenya: [1, 2, 2, 13]
Slicing List L1: (2+3j)
Duplikasi pada List L1 [1, 'dua', True, (2+3j), (2+3j)]
Data setelah diubah: [1, 'dua', 3, (2+3j)]
Data setelah ditambahkan elemennya: [1, 'dua', True, (2+3j), 20]
Data setelah dihapus elemennya: [1, 'dua', True]

In [24]:
#menambahkan data menggunakan fungsi extend(menambahkan elemen baru pada list namun elemen tersebut ditambahkan secara individual)
L1 = [1, "dua", True, 2+3j]
L1.extend("nanas")
print(L1)

[1, 'dua', True, (2+3j), 'n', 'a', 'n', 'a', 's']

In [25]:
L1 = [1, "dua", True, 2+3j]
L1.extend(["nanas"])
print(L1)

[1, 'dua', True, (2+3j), 'nanas']

In [26]:
#menambahkan data menggunakan fungsi insert(menambahkan elemen baru di list pada indeks tertentu)
L1 = [1, "dua", True, 2+3j]
L1.insert(2,5)
print(L1)

[1, 'dua', 5, True, (2+3j)]

In [27]:
#menghapus elemen dari list menggunakan fungsi pop()(menghapus berdasarkan indeks)
L1 = [1, "dua", True, 2+3j]
L1.pop(2)
print(L1)

[1, 'dua', (2+3j)]

In [28]:
L1 = [1, "dua", True, 2+3j]
L1.pop()
print(L1)

[1, 'dua', True]

LATIHAN

In [31]:
L1 = ["apel", "mangga", "manggis"]
print(type(L1))

<class 'list'>

In [32]:
L1 = ["apel", "mangga", "manggis"]
print(L1)

['apel', 'mangga', 'manggis']

In [34]:
L1[1]= "nanas"
print("list L1 setelah diganti elemennya:", L1)

list L1 setelah diganti elemennya: ['apel', 'nanas', 'nanas']